.category{
    top: 10px;
    right: 10px;
    width: 70px;
}
.delete-icon{
    right: 20px;
    bottom: 10px;
    width: 40px;
    cursor: pointer;
}
.update-icon{
    right: 70px;
    bottom: 10px;
    width: 40px;
    cursor: pointer;
}